
<app-nav></app-nav>
<div class="ps-page ps-page--about">
  <div class="ps-about-intro">
    <div class="ps-section__left">
      <div class="ps-section__content">
        <!-- <h5>Sobre nosotros</h5> -->
        <h3>Eco Mallki </h3>
        <!-- <p>Eco Mallki es una empresa ecológica que ofrece productos hechos con bambú y bordados artesanales. Su misión es proteger el medio ambiente y apoyar a las comunidades locales al mismo tiempo.</p> <br> -->


        <h5>Misión </h5>
        <p>“Somos una empresa que busca rescatar y fortalecer la cultura e identidad ambiental a través de la producción y venta de productos ecológicos con una atención de calidad y calidez.”</p> <br>
        
        <h5>Visión </h5>
        <p>“Ser una empresa reconocida en el mercado por la comercialización de productos ecológicos y una de las principales líderes en cuidado ambiental.”</p> <br>
        
        <!-- <p>La misión de Eco Mallki con el medio ambiente es ofrecer productos ecológicos y sostenibles que ayuden a proteger nuestro planeta. La empresa utiliza materiales como el bambú, que es una alternativa sostenible a otros materiales como el plástico.</p> -->
        
      </div>
    </div>
    <div class="ps-section__right"><img src="assets/images/about/about-intro.jpg" alt=""></div>
  </div>
  
  <div class="ps-about-quote" style="    margin-bottom: 100px;">
    <div class="container ps-section__container">
      <div class="ps-section__left"><img src="../assets/images/about/about-quote.jpg" alt=""></div>
      <div class="ps-section__right">
        <blockquote>
          <p>Eco Mallki nace en el año 2020 en la provincia de Jaén, Cajamarca - Perú; fue creada con la intención de contribuir con el cuidado del planeta, buscando promover mejores hábitos de consumo en la población, ofreciendo productos ecoamigables accesibles para todos, rompiendo con el estereotipo de que lo ecológico tiene que ser caro y de esta manera ayudar a reducir el alto consumo de productos descartables de un solo uso que demoran un largo tiempo en degradarse.</p><br>
          <p>Nuestro inicio fue sencillo, pero teníamos el anhelo de emprender. Ahora somos un equipo sólido teniendo la oportunidad de apoyar a mujeres empoderadas mediante la comercialización de sus productos hechos a mano.</p><br>
          <p>Estamos a disposición de las necesidades de todo consumidor, llevando nuestra tienda física al mundo digital. Ahora puedes realizar sus compras de forma rápida y sencilla desde el lugar donde te encuentres.</p>
          <!-- <p>La historia de Eco Mallki comenzó hace varios años cuando un grupo de amigos decidió crear una empresa que pudiera hacer una diferencia en el mundo. Querían ofrecer productos ecológicos y apoyar a las comunidades locales al mismo tiempo.

            Después de mucho trabajo y dedicación, Eco Mallki abrió sus puertas y comenzó a ofrecer productos hechos con bambú y bordados artesanales. Los clientes quedaron impresionados por la belleza y calidad de los productos y la empresa comenzó a crecer rápidamente.</p> -->
        </blockquote>
        <!-- <figure><small>LOREM IPSUM</small>
          <h4>Fundadora y CEO</h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum quae facilis possimus sapiente maxime. Cupiditate aspernatur minus iste saepe ipsum.</p>
        </figure> -->
      </div>
    </div>
  </div>

  <div class="ps-about-intro">
    <div class="ps-section__left">
      <div class="ps-section__content">
        <h5>NUESTROS PRODUCTOS</h5>
        <h3>Menos plástico más vida</h3>
        <p>Si estás buscando productos ecológicos y quieres apoyar a las comunidades locales, no dudes en visitar la tienda de Eco Mallki. ¡Te sorprenderás por la belleza y calidad de sus productos!</p><br>
        <p>Eco Mallki ofrece una amplia variedad de productos ecológicos hechos con bambú y bordados artesanales. Algunos de los productos que puedes encontrar en su tienda incluyen:</p><br>
        <p>- Utensilios de cocina: Eco Mallki ofrece una amplia variedad de utensilios de cocina hechos con bambú, como cucharas, tenedores, cuchillos y tablas de cortar. Estos productos son duraderos y resistentes, y son una excelente alternativa ecológica a los utensilios de plástico.</p><br>
        <p>- Accesorios para el hogar: También puedes encontrar una amplia variedad de accesorios para el hogar en la tienda de Eco Mallki, como cestas, bandejas y portavelas,etc. Todos estos productos están hechos con bambú y tienen un diseño elegante y moderno.</p>
        <!-- <p>Todos los productos de Eco Mallki son ecológicos y están hechos con materiales sostenibles. Además, la empresa trabaja en estrecha colaboración con las comunidades locales para asegurarse de que sus prácticas sean justas y sostenibles.</p>
       -->
      </div>
    </div>
    <div class="ps-section__right"><img src="assets/images/about/ubicanos.jpeg" alt=""></div>
  </div>

  <div class="ps-about-quote" style="    margin-bottom: 100px;">
    <div class="container ps-section__container">
      <div class="ps-section__left"><img src="../assets/images/about/member-1.jpg" alt=""></div>
      <div class="ps-section__right">

        <figure><small>IMAGEN DE MARCA</small>
          <h3 style="font-size: 48px !important;">Nuestros protagonistas</h3>
          <p>Hoy en día, Eco Mallki sigue comprometida con su misión de proteger el medio ambiente.</p><br>
          <p>Además, Eco Mallki trabaja en estrecha colaboración con las comunidades locales para asegurarse de que sus prácticas sean justas y sostenibles. La empresa apoya a los artesanos locales y utiliza técnicas tradicionales para crear sus productos.</p>
        </figure>
      </div>
    </div>
  </div>


 
</div>
  

<app-footer></app-footer>